
.board {
    width: 270px;

    &-name {
        display: flex;
        align-items: center;
        gap: .7rem;
        margin-bottom: 1.5rem;
    }
    
    &-name h3 {
        text-transform: uppercase;
        font-size: .8rem;
        color: grey;
    }

}
